# Compiled
*.elc

# Internal
elpa
smex-items
places
recentf
projectile*
auto-save-list
.cache
custom.el
.lsp*
lsp-cache/
transient/
ido.last
forge-database.sqlite
session.*
mspyls/
workspace/
autosave/
backups/
eclipse*
